.sideNavMain {
    margin-bottom: 0px;
    left: 0px;
    width: 250px;
    transform: translateX(0px);
    transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, background-color 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    border: none;
    background: transparent;
    backdrop-filter: unset;
    height: calc(100vh - 2rem);
    margin: 1rem;
    /*border-radius: 1.25rem;*/
    /*overflow-y: auto;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*flex: 1 0 auto;*/
    z-index: 1200;
    position: fixed;
    top: 0px;
    /*outline: 0px;*/
    color: rgba(0, 0, 0, 0.87);
}

.navTitleComponent {
    text-align: center;
    opacity: 1;
    background: transparent;
    color: rgb(52, 71, 103);
    overflow: unset !important;
    padding: 28px 32px 4px;
}

.navTitle {
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif !important;
    font-size: 0.875rem !important;
    line-height: 1.5 !important;
    letter-spacing: 2px !important;
    text-transform: none !important;
    vertical-align: unset !important;
    color: inherit !important;
    font-weight: 500 !important;
    background-image: linear-gradient(97.89deg, rgb(255, 255, 255) 70.67%, rgba(117, 122, 140, 0) 108.55%) !important;
    display: inline-block !important;
    background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    position: relative !important;
    z-index: 1 !important;
    opacity: 1 !important;
    max-width: 100% !important;
    text-decoration: none !important;
    margin: 0px auto !important;
}

.navRow {
    flex-shrink: 0 !important;
    border-top: 0px solid rgba(0, 0, 0, 0.08) !important;
    border-right: 0px solid rgba(0, 0, 0, 0.08) !important;
    border-left: 0px solid rgba(0, 0, 0, 0.08) !important;
    height: 0.0625rem !important;
    margin: 1rem 0px !important;
    border-bottom: none !important;
    opacity: 0.25 !important;
    background-color: transparent !important;
    background-image: linear-gradient(to right, rgba(0, 117, 255, 0), rgb(255, 255, 255), rgba(255, 255, 255, 0)) !important;
}

.pageTag {
    opacity: 1;
    background: rgb(26, 31, 55);
    color: rgb(255, 255, 255);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    padding: 0.675rem 0.8rem 0.675rem 1rem !important;
    /*margin: 0px 1rem;*/
    border-radius: 0.9375rem;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
}

.DashbordTagIcon {
    opacity: 1;
    background: rgb(0, 117, 255);
    color: rgb(255, 255, 255);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    padding: 0.675rem 0.8rem 0.675rem 1rem !important;
    /*margin: 0px 1rem;*/
    border-radius: 0.9375rem;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
}

.pageTag2 {
    opacity: 1;
    /*background: rgb(26, 31, 55);*/
    color: rgb(255, 255, 255);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    padding: 0.675rem 0.8rem 0.675rem 1rem !important;
    /*margin: 0px 1rem;*/
    border-radius: 0.9375rem;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
}

.pageTagName {
    padding-left: 0.8rem;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 0;
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif;
    /*filter: blur(0.5px);*/
    -webkit-text-stroke-width: thin;
}

.navText {
    -webkit-text-stroke: thin;
    /*color: #b9becf;*/
    /*align-items: center;*/
    /*line-height: 4.6;*/
    text-decoration: none;
    width: 100%;
}

.headercon1 {
    display: none;
}

.headercon2 {

}

.headerBox {
    /*margin-left: 17.125rem;*/
    transition: margin-left 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, margin-right 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    /*box-shadow: rgb(255 255 255 / 90%) 0rem 0rem 0.0625rem 0.0625rem inset, rgb(0 0 0 / 5%) 0rem 1.25rem 1.6875rem 0rem;*/
}

.headerBoxPaper {
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
    flex-direction: column;
    /*width: 100%;*/
    box-sizing: border-box;
    /*flex-shrink: 0;*/
    position: sticky;
    /*z-index: 1100;*/
    left: auto;
    right: 0px;
    box-shadow: none;

    backdrop-filter: none;
    background-image: none;
    color: rgb(255, 255, 255);
    top: 0.75rem;
    min-height: 4.6875rem;
    display: grid;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 1.25rem;
    padding: 0.5rem 0px;
    background-color: transparent !important;
    border-color: transparent !important;

    /*position: -webkit-sticky;*/
    position: fixed;
    top: 0;
    color: #ffffff;
}

.headerBoxShadow {
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
    flex-direction: column;
    /*width: 100%;*/
    box-sizing: border-box;
    /*flex-shrink: 0;*/
    position: sticky;
    z-index: 1100;
    left: auto;
    right: 0px;
    box-shadow: rgb(255 255 255 / 90%) 0rem 0rem 0.0625rem 0.0625rem inset, rgb(0 0 0 / 5%) 0rem 1.25rem 1.6875rem 0rem !important;
    backdrop-filter: blur(2.625rem) !important;
    color: rgb(255, 255, 255);
    top: 0.75rem;
    min-height: 4.6875rem;
    display: grid;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 1.25rem;
    padding: 0.5rem 0px;
    background-color: transparent !important;
    border-color: rgba(226, 232, 240, 0.3) !important;
    color: #ffffff;

    /*position: -webkit-sticky;*/
    position: fixed;
    top: 0;
}

.dashbordMain {
    opacity: 1;
    background: transparent;
    color: rgb(52, 71, 103);
    /*padding: 24px;*/
    position: relative;
}

.headerHome {
    color: #ffffff;
    opacity: 0.5 !important;
    width: 1em !important;
    height: 1em !important;
}

.header1path {
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif;
    font-size: 0.900rem;
    opacity: 1;
    font-weight: 400;
    text-transform: capitalize;
}

.dashbordBox1 {
    /*width: 100% !important;*/
    height: max-content;
    background: linear-gradient(127.09deg, rgba(6, 11, 40, 0.94) 19.41%, rgba(10, 14, 35, 0.49) 76.65%) border-box !important;
    border-radius: 1.25rem;
    padding: 17px;
    justify-content: space-between;
}

.dashbordBox2 {
    height: 271px;
    background: url("../assets/cardimgfree.jpg") 50% center / cover border-box;
    border-radius: 1.25rem;
    padding: 32px 22px;
    justify-content: space-between !important;
    transition: transform .2s;
    background-position: 50% center;

    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.dashbordBox2:hover {
    transform: scale(1.07); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.dashbordBox1in1 {
    color: rgb(160, 174, 192) !important;
    font-weight: 400 !important;
    line-height: 1.25 !important;
    font-size: 0.75rem !important;
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif !important;
    -webkit-text-stroke: thin !important;
}

.dashbordBox1in1price {
    color: rgb(255, 255, 255);
    font-weight: 700 !important;
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif !important;
    font-size: 1.25rem !important;
    -webkit-text-stroke: thin !important;
    line-height: 1.625 !important;
}

.dashbordBox1in1Id {
    color: rgb(1, 181, 116);
    font-weight: 700 !important;
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif !important;
    font-size: 0.875rem !important;
    line-height: 1.5 !important;
}

.dashbordBox2in1 {
    color: rgb(160, 174, 192);
    font-weight: 400 !important;
    margin: 0px 0px 12px;
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif !important;
    font-size: 0.875rem !important;
    line-height: 1.5 !important;
}

.dashbordBox2in1name {
    color: rgb(255, 255, 255);
    font-weight: 700 !important;
    margin: 0px 0px 18px !important;
    font-size: 1.875rem !important;
    line-height: 1.375 !important;
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif !important;
}

.dashbordBox2in1disc1 {
    color: rgb(160, 174, 192);
    font-weight: 400 !important;
    margin: 0px 0px auto !important;
    font-size: 1rem !important;
    line-height: 1.625 !important;
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif !important;
}

.dashbordBox2in1tap {
    align-items: center;
    cursor: pointer;
    color: #ffffff;
    font-weight: 400;
    margin: 0px 5px 0px 0px;
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    line-height: 1.5;
    -webkit-text-stroke-width: thin;
}

.dashbordBox2in2rate {
    color: rgb(255, 255, 255);
    font-weight: 700 !important;
    margin: 0px 0px 4px !important;
    font-size: 1.125rem !important;
    line-height: 1.625 !important;
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif !important;
    -webkit-text-stroke-width: thin !important;
}

.dashbordBox2in1from {
    color: rgb(160, 174, 192) !important;
    font-weight: 400 !important;
    margin: 0px 0px 20px !important;
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif !important;
    font-size: 0.875rem !important;
    line-height: 1.5 !important;
    -webkit-text-stroke-width: thin !important;

}

.dashbordBox2in2 {
    height: 300px;
    background: linear-gradient(127.09deg, rgba(6, 11, 40, 0.94) 19.41%, rgba(10, 14, 35, 0.49) 76.65%) border-box !important;
    border-radius: 1.25rem;
    padding: 17px;
    justify-content: space-between;
    transition: transform .2s;
}

.dashbordBox2in2:hover {
    transform: scale(1.07);
}

.dashbordBox2in2circular {
    display: flex;
    justify-content: center;
    /*opacity: 1;*/
    /*background: transparent;*/
    /*color: rgb(52, 71, 103);*/
    place-self: center;
    z-index: 0;
    position: relative;
}

.dashbordBox2in2circular > svg {
    transform: rotate(22deg);
}

.circal1Box {
    top: 20%;
    width: 100%;
    text-align: center;
    font-size: 18px;

    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 25px;
    background-color: #0075ff;
    right: 42%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circal1BoxDisc {
    opacity: 1;
    color: rgb(52, 71, 103);
    /*width: 90%;*/
    margin-bottom: 0px;
    padding: 18px 22px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-direction: row;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background: linear-gradient(126.97deg, rgb(6, 11, 40) 28.26%, rgb(10, 14, 35) 91.2%);
    transform: translateY(-90%);
    z-index: 1000;
}

.circal1BoxDisc1 {
    color: rgb(160, 174, 192);
    font-weight: 400 !important;
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif !important;
    font-size: 0.75rem !important;
    line-height: 1.25 !important;
}

.circal1BoxDisc2 {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;

    text-decoration: none !important;
    color: rgb(255, 255, 255) !important;
    font-size: 1.875rem !important;
    line-height: 1.375 !important;
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif !important;
    font-weight: 500 !important;
}

.circal1BoxDisc3 {
    color: rgb(160, 174, 192) !important;
    font-weight: 400 !important;
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif !important;
    font-size: 0.75rem !important;
    line-height: 1.25 !important;
}

.dashbordBox2in3 {

    height: max-content;
    background: linear-gradient(127.09deg, rgba(6, 11, 40, 0.94) 19.41%, rgba(10, 14, 35, 0.49) 76.65%) border-box !important;
    border-radius: 1.25rem;
    padding: 17px;
    justify-content: space-between;
}

.dashbordBox3inheader {
    margin: 0px auto 0px 0px !important;

    color: rgb(255, 255, 255) !important;
    font-weight: 700 !important;
    font-size: 1.125rem !important;
    line-height: 1.625 !important;
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif !important;
    -webkit-text-stroke-width: thin !important;
}

.dashbordBox2in3inheader {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    opacity: 1;
    background: rgb(34, 35, 75);
    color: rgb(52, 71, 103);
    width: 37px;
    height: 37px;
    cursor: pointer;
    border-radius: 12px;
}

.dashbordBox3inbox {
    flex-direction: row;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
}

.dashbordBox3inbox1 {
    max-width: 110px !important;
    display: flex;
    /*width: 220px;*/
    padding: 20px 22px;
    flex-direction: column;
    opacity: 1;
    color: rgb(52, 71, 103);
    background: linear-gradient(126.97deg, rgb(6, 11, 40) 28.26%, rgb(10, 14, 35) 91.2%);
    border-radius: 20px;
}

.dashbordBox3inboxin1 {
    color: rgb(160, 174, 192);
    font-weight: 400 !important;
    margin: 0px 0px 5px !important;
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif !important;
    font-size: 0.875rem !important;
    line-height: 1.5 !important;
}

.dashbordBox3inboxin2 {
    color: rgb(255, 255, 255) !important;
    font-weight: 700 !important;
    font-size: 1.125rem !important;
    line-height: 1.625 !important;
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif !important;
}

.dashbordBox3in3circular {
    display: flex;
    justify-content: center;
    /*opacity: 1;*/
    /*background: transparent;*/
    /*color: rgb(52, 71, 103);*/
    place-self: center;
    z-index: 0;
    position: relative;
}

.dashbordBox3in3circular > svg {
    /*transform: rotate(22deg);*/
}

.circal2Box {
    top: 20%;
    width: 100%;
    text-align: center;
    position: absolute;
    /*right: 42%;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    background: transparent;
    color: rgb(52, 71, 103);
}

.dashbordBox3in21 {
    text-decoration: none;
    color: rgb(160, 174, 192);
    margin: 0px 0px 4px !important;
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif !important;
    font-size: 0.875rem !important;
    font-weight: 700 !important;
}

.dashbordBox3in22 {
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif;
    line-height: 1.2;
    margin: 0px 0px 4px;
    -webkit-text-stroke-width: thin !important;
}

.dashbordBox4inheader {
    color: rgb(255, 255, 255);
    font-weight: 700;
    margin: 0px 0px 0px;
    font-size: 1.125rem;
    line-height: 1.625;
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif;
    -webkit-text-stroke-width: thin !important;
}

.dashbordBox4 {
    /*width: 100% !important;*/
    height: max-content;
    background: linear-gradient(127.09deg, rgba(6, 11, 40, 0.94) 19.41%, rgba(10, 14, 35, 0.49) 76.65%) border-box !important;
    border-radius: 1.25rem;
    padding: 22px;

    /*justify-content: space-between;*/
}

.dashbordBox4inheader2 {
    color: rgb(1, 181, 116);
    font-weight: 700 !important;
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif !important;
    font-size: 0.875rem !important;
    line-height: 1.5 !important;
    margin-bottom: 40px !important;
}

.dashbordBox5 {
    color: #344767;
    background: linear-gradient(126.97deg, rgb(6, 11, 40) 28.26%, rgb(10, 14, 35) 91.2%);
}

.dashbordBox5inheader {
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.625;
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif;
    -webkit-text-stroke-width: thin !important;
}

.dashbordBox4indetailIco {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    opacity: 1;
    background: rgb(0, 117, 255);
    color: rgb(52, 71, 103);
    border-radius: 6px;
    width: 25px;
    height: 25px;
}

.dashbordBox5inDataTitle {
    color: rgb(160, 174, 192);
    font-weight: 500;
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    line-height: 1.5;
    -webkit-text-stroke-width: thin !important;
}

.dashbordBox5inDatadetails {
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif;
    font-size: 1.25rem;
    line-height: 1.625;
}

.dashbordBox6HeaderIco {
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    line-height: 1.5;
    color: rgb(160, 174, 192);
    font-weight: 400;
    -webkit-text-stroke-width: thin !important;
    margin-bottom: 32px;
}

.dashbordBox5intitle {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0px 0px 6px;
    font-size: 1.125rem;
    line-height: 1.625;
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif;
    font-weight: 500;
    -webkit-text-stroke-width: thin !important;
}

.dashbordBox6 {
    /*width: 100% !important;*/
    height: max-content;
    background: linear-gradient(127.09deg, rgba(6, 11, 40, 0.94) 19.41%, rgba(10, 14, 35, 0.49) 76.65%) border-box !important;
    border-radius: 1.25rem;
    padding: 17px;
}

.dashbordBox6header {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.dashbordBox5inSide {
    font-weight: 700;
    transform: rotate(90deg);
    color: #9aa1be;
    cursor: pointer;
}

.thead {
    border-bottom: 0.0625rem solid rgb(45, 55, 72) !important;
    color: rgb(160, 174, 192) !important;
    opacity: 0.7 !important;
    background: transparent !important;
    padding: 12px 24px 10px !important;
    text-align: left !important;
    font-size: 0.65rem !important;
    font-weight: 700 !important;
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif !important;
}

.tableCell {
    border-bottom: 0.0625rem solid rgb(45, 55, 72) !important;
    padding: 8px !important;
    /*text-align: left !important;*/
    opacity: 1 !important;
    color: rgb(255, 255, 255) !important;
    font-weight: 500 !important;
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif;
    font-size: 0.875rem !important;
    line-height: 1.5 !important;
    padding-left: 16px !important;
    -webkit-text-stroke-width: thin !important;
}

.tableCell2 {
    display: flex;
    flex-direction: row;
    background-color: white;
}

.dashbordBox7intitle {
    color: rgb(255, 255, 255);
    font-weight: 700;
    margin: 0px 0px 5px;
    font-size: 1.125rem;
    line-height: 1.625;
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif;
    -webkit-text-stroke-width: thin !important;
}

.tableCellName {
    padding-left: 16px;
}

.DashbordDiv7intitle {
    color: rgb(255, 255, 255) !important;
    font-weight: 500 !important;
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif;
    font-size: 0.875rem !important;
    line-height: 1.5 !important;
    -webkit-text-stroke-width: thin !important;
    margin-left: 30px !important;;
    line-height: 0;
    max-width: 30rem;
}

.DashbordDiv7intime {
    color: rgb(160, 174, 192) !important;
    font-weight: 500 !important;
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif;
    font-size: 0.75rem !important;
    line-height: 1.25 !important;
}

.footerLeft {
    color: rgb(255, 255, 255);
    text-align: center !important;
    font-weight: 400 !important;
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif;
    font-size: 0.875rem !important;
    line-height: 1.5 !important;
    -webkit-text-stroke-width: thin !important;
}

.footerRight{
    color: rgb(255, 255, 255);
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
}